// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main, .todo {
  display: inline-block;
  min-width: 45%;
}

.players {
  padding-top: 15px;
  padding-bottom: 15px;
}

#game {
  background-color: #009688;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
input[type=number] {
  font-size: 2rem !important;
}

.input-field label{
  color: #fff !important;
}

#graph {
  margin-top: 10px;
  margin-bottom: 10px;
}