// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main, .todo {
  display: inline-block;
  min-width: 45%;
}